
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #637190; 
    padding: 20px 40px; 
    width: 75rem;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 25px;
}
.logo img {
    margin: top; 
    max-width:60px;
    width: auto;
}
.menu {
    display: flex;
}

.menu ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}
.menu li {
    margin-left: 80px; 
}

.menu a {
    text-decoration: none; 
    color: white;
    font-weight: bold; 
    transition: color 0.3s ease; 
}
.menu a:hover {
    color: #61dafb;
    text-decoration: underline; 
}